.commits{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid black;
    padding-left:20px;
    padding-right:30px;
    background-color:rgb(131, 118, 173);
}