.box-button {
  height: 100%;
  display: flex;
  margin-right:30px;
  justify-content: center;
}
.btn-voltar {
  height: auto;
  width: 50%;
  background-color: #4a148c;
  border-radius: 10px;
  margin: 10px;
}
button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: whitesmoke;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer; /*mickey*/
  border: none;
}
button:hover {
  background-color: #ec407a;
  color: #e1bee7;
}
button:focus {
  outline: none;
}
@media only screen and (max-width: 815px) {
  .box-button {
    margin-right: 0px;
  }
}