.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 130px;
}
.detail-container p {
  margin: 0px;
}
.user-img {
  width: 300px;
  border-radius: 50%;
  border: 5px solid gray;
}