.user{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.user > img{
    width:350px;
    height:350px;
    margin-left:50px;
}

.user > section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right:50px;
    color:white;
    font-size:20px;
}