.fixed-menu-box {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 1;
  background-color: rgba(70 , 20, 140, 0.9);
  align-items: center;
}
.menu-title {
  display: flex;
  align-items: center;
  height: 70px;
  font-size: 30px;
  color: whitesmoke;
  text-align: center;
  margin: 0px;
  margin-left: 70px;
}
.box-fixed-menu-btn {
  height: 100%;
  width: auto;
  display: flex;
}
.github-icon {
  max-width:50px;
  max-height:50px;
  width: auto;
  height: auto;
  position: absolute;
  padding-top: 10px;
  padding-left: 10px;
}
.logo-box{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;
}
@media only screen and (max-width: 815px) {
  .fixed-menu-box {
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }
  .box-fixed-menu-btn {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .box-fixed-menu-btn a {
    border-top: 1px solid #e1bee7;
  }
}