.list-repos {
    width: 650px;
    margin: 10px;
    background-color: #D6EDFF;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    flex-direction: column;
}

.list-title {
    padding-left: 20px;
}

.list-item {
    padding-left: 20px;
}