.body-main {
    margin: 0px auto;
    /* auto = centraliza o container*/
    width: 1360px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 70px;
}