.user-info {
    width: 600px;
    margin: 10px;
    background-color: #D6EDFF;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    padding: 20px;

}

.user-image {
    border-radius: 20px;
}

.user-image img{
    width: 250px;
    height: 250px;
    object-fit: contain;
    border-radius: 20px;
}

.user-details h3{
    margin: 0px;
}

.user-details {
    margin: 0px 20px;
}

@media only screen and (min-width: 1330px ){
    .user-info {
        width: 600px;
    }
}

@media only screen and (max-width: 1329px ){
    .user-info {
        width: 600px;
    }
}

@media only screen and (max-width: 815px ){
    .user-info {
        justify-content: center;
    }

    .user-details {
        font-size: 14px;
    }
}

@media only screen and (max-width: 543px ){
    .user-info {
        justify-content: center;
        flex-wrap: wrap;
    }
    .user-details {
        font-size: 14px;
        margin-top: 10px;
    }
}
