.header{
    background-color:#393c3f;
    height: 70px;
    width: 100%;
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header a{
    margin-left:30px;
}

.searchBar{
    margin-right:30px;
}

.searchBar button{
    background-color:transparent;
    border:0px;
}

.searchBar button:hover{
    cursor:pointer;
}