body {
    margin: 0px;
    /*font-family: 'Noto Sans', sans-serif;*/
}

.fixed-menu {
    height: 70px;
    width: 100%;
    background-color: #2A6AFF;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-options a:visited, a:link {
    text-decoration: none;
    color: white;
}

.menu-box {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.menu-options {
    color: white;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    align-content: flex-start;
}

.search-box {
    display: flex;
}

.search-box input {
    padding: 5px 10px;
    border-radius: 20px;
    border: 0px ;
    margin-right: 10px;
}

.search-box input:focus{
    outline:none;
}

.search-box button {
    border-radius: 5px;
    border: 2px ;
    width: 100px;
    height: 30px;
    background-color: #D6D8DD;
}

@media only screen and (max-width: 543px ){
    .fixed-menu {
        height: 100px;
        justify-content: space-between;
        align-items: center;
    }

    .menu-box {
        flex-direction: column;
    }

    .menu-options h3 {
        font-size: 18px;
    }

    .search-box {
        width: 100%;
        justify-content: space-between;
    }

    .search-box button {
        width: 80px;
    }

    .search-box input {
        width: 120px;
    }
}