.fixed-menu {
  position: fixed;
  width: 100%;
  height: 75px;
  background-color: rgba(0, 0, 0, 0.452);
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  z-index: 1;
}

.logo-content {
  padding: 10px;
}

.logo-content img {
  width: 65px;
}
