.header {
    height: 450px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    color: rgb(87, 99, 87);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
  }
    
  .header h1 {
    font-size: 65px;
    margin: 5px;
  }
  
  .title-trainee {
    font-size: 300;
  }
  
  @media only screen and (max-width: 1359px) {
    .header {
      height: 225px;
      text-align: center;
    }
    .header h1 {
      font-size: 50px;
      margin: 5px;
    }
  }
  
  @media only screen and (max-width: 815px) {
    .header h1 {
      font-size: 40px;
      margin: 5px;
    }
  }
  
  @media only screen and (max-width: 543px) {
    .header h1 {
      font-size: 30px;
      margin: 5px;
    }
  
  
    .menu-content button {
      font-size: 12px;
    }
  }


body{
  background-color: #ccc;
}