.repo-item-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 12px;
  border-bottom: 1px solid rgb(184, 184, 184);
  border-radius: 10px;
}

.repo-item-container p {
  margin: 5px 25px;
  font-size: 14px;
  color: rgb(42, 0, 109);
  /* color: rgb(132, 0, 255); */
}

.repo-item-container p b {
  color: rgb(0, 31, 167);
}
