.user-body-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding-top: 70px;
}
.login-user-box{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
}
.btn-body {
  background-color: #46148C;
  border-radius: 10px;
}
.box-button .btn {
  height: 100%;
}